# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea
.vscode/

/vendor/
coverage.html
cover.out
coverage.txt
misspell*
staticcheck*
/lint-project.sh
bin/
tmp/
/cmd/iso8583/output
api/*.jar
spec87_temp_test.go
dist/
.DS_Store
